#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: rgb(244, 246, 248);
}

h1 {
  color: black;
}

button:hover {
  background-color: rgb(54, 54, 54);
  border: none;
}